sudo: required

dist: trusty

language: node_js

services:
  - docker

git:
  depth: false

node_js:
  - "10.8.0"

env:
  global:
    - secure: "KY6dbvmi9Otm85l+HnMp6kQSiIo0QiQk2u0aXI6k4U/G2muhdPXbUkhB7uJdDjP5AkO3O8VsdekVIOS0x4rrLCPNVlbdLaeY2LAKayKlg3esh50J7g/6AKK65THgM1vY5GgR7Z51kEkvR4AJcx3b3hGw0IIho+CU3XoMT6Il0WvXZsS4F843eTRl2KH23x8Ng3tkO8Yo0c2xOuETA8xoRs88hd+MYBpII0Pk1vs5eZQaMyMPeAdE7q8kCo4NYhcRoQpP7xbxD7DOOBH/Qj+fIvZIfjggBTQi28x5k9MAESrKaXmcs2Eod+xtD/gw+zqSKHEnYE02vgAaRqrfYwfdiNqdyRyIpITom0+lnM9jmgt4dq28k5gE7PngA2TL/g2nOf8KJez8cgCxm+uyqM768V6PnnmPxANwTh7Tk0ca9vnHag1O+upzOyDGR/K306Hvh5B3br2Cx9Ir04aqa3uaE8k+qKVGLeY3LVlGIut1lFCSS366COpBfDS1yVwJS9chZ/E01lOVoszlMTqc8VDbQRsyUg4zdHyHn3KK7mvAlYnbTW/BQugwqhcCWy49u+itMzXhSC1X+BSyWFL7R+GsvzG6eS3PNwgaFPT0W2mo4vXN+wKwB26DQd6LsT6Q4WP5ZBfJb03cfn/p49wQTc9ritWZGbDBumVDmiofBq2nqpA="
    - secure: "VsFDd1DXtO8Ldy95H2igrEyZnAjenRphAb04cIm7yaUdSGyxinjR3/kicIPQigqlaN+F4FllhBqCGsjhMH5WOEsq03DEbedOld08iSzxMLPXGEj+wpuPeEge553RdGplURTcF5GFT+kMCoVyBopMmiB+mQ2KGX4bpDeFrbWf9Lo7TnWKrN192SZ3JF2TetO1bF50pbDHCOkWD7uQZCMUFOZnaPWHgQJCF/KHPeke1uctkVVMmEBE4HBBxj8PtnLEnlTha0GESRRjHp7aSr7otAj0aW80LIEseTc2bUOV3LXZBtB9nVqbPE2PNLMzeW/DlVt+33njIRe8y0Y5KhizD8CSsLgzNym/IigKo0GP2Apbeuhxi8M9UFiyNKWl8sxkFAmQjAYn4AqoxGj34PQJdMrfa68UqxEZcFtExb0GvjvLtBnjmGErbYZvsfQTinzvpPAI7zmvxkbgiY2aOMt5hIEo6mdw+exSutTMII1puTLGPEXBxc4UCcTT+YQjapXGaV8cEoybl0pXP7+pdiAdIjqrg5rIhAgExsXtrCLQAG/0iiII/vRnrTyZM8NFkLADZicv7UxcWAdJ42euwZoW6C2IwI0CGg8K7g9+OVJjVsYUpIt76jQhQyKuTRFnmjHJ58O3RhbKCobswzEQvpBZID1waX45fJn/Bws3oR269qg="


addons:
  sonarcloud:
    organization: "indicium"
    token:
      secure: "qM9k9yEyv+VA7WlILdlYdRyKZzWaa+b88wnihnMo3z0Ync1lvkIynljWeYfGYfGvMDnMO4upgWiEbU/Ks4Gmha+IMEuqDVFYTNY7HYO52s+P+MY01yuh0eOMSRJftYdFwQq7CZFXytenCb9ZgAQh8k2lVlkDOEFylT0WcGHOrgkaKRImD/5WrzJr2FlwdULxyJjkqgN8itNMKKbNjgcyTUMEhsAxc7yqAuX6CXSPK58gXU2G+GpThYhnSh+7zUZOfAfp9LzKjUdUPBGDqCpnUIM83FXG1vcEt0iy7iHQIBqvNttQEwC63Vi6MwsTTLbIBCmqnbzh8qdQ+1jmJaE9l63PONmoG/XpfDmYR6rELYtcCryjW+4wFYj2fcixu9+OVPQTHHuogApn8BK1kip1Vo0jno6FZlwHWRKw7D2MkdQaSAMNrsGL0A8jwJoZ6Rpz5/e/mTWCqMR1bYHJ6jmNqxVTxWy2OhJ1/ULMxJL/oXjSoIBF9wDMy5aLaixlJBpOkC3dRKIjTcf2sv9/o+5lgKNgTtrUSqF0KN1TmBjsrxtoee/EpXWXpmpB7zkcid1JdMJTleQuy/CxX80PCtXB4Q05VnOgw214BKCGoX8YM2Xa/kn7plJ0fViqcYx3+A3Byqfd877u85+1T7vYP4jDURMyZZPf+S7LhobI36LzWwY="


cache:
  npm: true

install:
  - npm install

script:
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then sonar-scanner; fi'
  - echo "Skipping tests"
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "stable"; elif [ "$TRAVIS_BRANCH" == "dev" ]; then echo "latest"; else echo $TRAVIS_BRANCH; fi`
  - docker build -t docker.pkg.github.com/svindicium/indicium-website/website:$TAG .

deploy:
  provider: script
  script:
    echo "$DOCKER_PASS" | docker login docker.pkg.github.com -u "$DOCKER_USER" --password-stdin;
    docker push docker.pkg.github.com/svindicium/indicium-website/website:$TAG;
  on:
    all_branches: true

