  :root {
    // Fonts
    --body-font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --code-font-family: 'Space Mono', 'Andale Mono', 'Ubuntu Mono', monospace;
    // Misc
    --sidebar-width: 246px;

    --text-color: #8d8f91;
  }

  // Breakpoints
  $bp-mobile-sm: 321px;
  $bp-mobile-md: 376px;
  $bp-mobile-lg: 414px;
  $bp-tablet-sm: 562px;
  $bp-tablet-md: 768px;
  $bp-desktop-sm: 1120px;
  $bp-desktop-md: 1280px;
  $bp-desktop-lg: 1536px;
